<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" href="../feed">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="" href="">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="" href="">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="" href="">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
