<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" href="../feed">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="discover" href="../discover">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages" href="../messages">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="../profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
